<nav aria-label="breadcrumb">
    <h1>Trabalhos Form</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Formulário de Trabalhos</li>
    </ol>
</nav>
<div class="container">
    <div class="card" id="card-trabalho">
        <div class="card-body">
            <h2 class="text-center" id="titulo-salvar-trabalho">Cadastrar Trabalho Acadêmico</h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome">
                    </div>
                    <div class="col-md-6">
                        <label for="categoria" class="form-label">Categoria:</label>
                        <input type="text" class="form-control" id="categoria">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="tipo" class="form-label">Tipo:</label>
                        <input type="text" class="form-control" id="tipo">
                    </div>
                    <div class="col-md-6">
                        <label for="text" class="form-label">Status</label>
                        <input type="text" class="form-control" id="status">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="data-inicio" class="form-label">Data de início: </label>
                        <input type="text" class="form-control" id="data-inicio">
                    </div>
                    <div class="col-md-6">
                        <label for="data-fim" class="form-label">Data finalização: </label>
                        <input type="text" class="form-control" id="data-fim">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="descricao" class="form-label">Descrição: </label>
                        <textarea name="descricao" id="descricao" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="btn-salvar-trabalho">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>