#pesquisaMenu {
    background-color: white;
    border-right: 0;
    border-top-left-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    margin-right: -10x;
}

div.input-group-pesquisa > .form-control {
    border-left: 0;
    border-radius: 1.1rem;
}

.form-control:focus{
    box-shadow: 0 0 0 0;
    border-color: #ced4da;
}

#btn-adicionar-novo{
    background-color: #008080;
    border-color: #008080;
    color: white;
    border-radius: 2rem;
}

#btn-adicionar-novo,
#btn-notificacao {
    margin-right: 10px;
}

.navbar-nav{
    display: flex;
    align-items: center;;
}

#navbar-blue{
    background-color: #B0E0E6;
}