<div id="sidebar" class="active">
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/home">
                <fa-icon [icon]="faHome"></fa-icon>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/trabalhos-lista">
                <fa-icon [icon]="faBook"></fa-icon>
                <span>Trabalhos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faUsers"></fa-icon>
                <span>Grupos</span>
            </a>
        </li>
    </ul>
</div>